body{
    background-image: url(/pngtree-scene-with-geometrical-forms-the-poster-model-minimal-background-render-image_452981.jpg
    );
    background-position: 0%;
}

.margin-top{
    margin-top: 5px;
}

div li{
    list-style-type: none;
}